$primary: #685042;
$secondary: #e9d6ca;

$primary-text: #685042;
$secondary-text: #e9d6ca;

$font-family-base: 'Norican', cursive;
$font-family-little: 'Libre Baskerville', serif;
$font-weight-title: 900;
$font-weight-subtitle: 500;
$font-weight-text: 500;
$font-size-title: 70px;
$font-size-subtitle: 30px;
$font-size-text: 30px;
