.reviews {
    background: $secondary;
    padding-top: 32px;
    &-text, &-autor {
        font-family: $font-family-base;
        font-size: 30px;
        line-height: 1;
        color: $primary-text;
        font-weight: $font-weight-subtitle;
        padding: 0px 230px 0 240px;
        text-align: left;
    }
    &-text {
        padding-top: 21px;
    }
    &-autor {
        text-align: right;
        padding-bottom: 140px;
    }
    &-img {
        margin-left: -20px;
        padding-top: 48px;
    }
    &-indicators {
        margin-left: 78%;
        margin-bottom: 110px;
        color: $primary;
    }
    & li {
        border: 4px solid $primary;
        &:active, &:hover {
            background: $primary;
        }
    }
}
// .reviews-indicators {
//     margin-left: 78%;
//     margin-bottom: 110px;
// }
// .reviews-indicators li {
//     border: 4px solid $primary;
//     &:active, &:hover {
//         background: $primary;
//     }
// }