$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-extra: 1200px;

@mixin small {
  @media screen and (min-width: $breakpoint-small) {
    @content;
    .button-preview , .button-next {
      width: 40px;
      height: auto;
      }
  }
}

@mixin medium {
  @media screen and (min-width: $breakpoint-medium) {
    @content;
    .button-preview , .button-next {
    width: 38px;
    height: auto;
    }
  }
}

@mixin large {
  @media screen and (min-width: $breakpoint-large) {
    @content;
    .button-preview , .button-next {
      width: 46px;
      height: auto;
      }
  }
}

@mixin extra {
  @media screen and (min-width: $breakpoint-extra) {
    @content;
    .button-preview , .button-next {
      width: 54px;
      height: auto;
      }
  }
}


@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
}

@mixin font-size($size) {
  font-size: $size;
  font-size: $size / 16px;
}

@mixin font-title {
  font-size: $font-size-title;
  font-weight: $font-weight-title;
  font-family: $font-family-base;
  color: $primary-text;
  line-height: 1;
}

@mixin font-subtitle {
  font-family: $font-family-base;
  font-size: 38px;
  line-height: 1;
  color: $primary-text;
  font-weight: $font-weight-subtitle;
}

@mixin button-primary {
  border-radius: 15px;
  background: $secondary;
  border-style: none;
  font-size: 30px;
  font-family: $font-family-little;
  color: $primary-text;
  padding: 5px 46px;
  box-shadow: 7px 7px 1px $primary;
  &:hover {
      background: $primary;
      color: $secondary-text;
      box-shadow: 7px 7px 1px $secondary;
  }
}