<header class="header">
	<container class="logo">
		<div class="container">
			<div class="row">
				<div class="col-12">
					​<div class="logo-img v-center">
						<a href="#"><img src="./img/logo-crop.png" class="mx-auto d-block" alt="..."></a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="logo-img v-center">
						<p class="logo-title">Sweet Dreams</p>
					</div>
				</div>
			</div>
		</div>
		<div class="logo-second"></div>
	</container>
	<nav class="navbar justify-content-center nav-block" role="navigation">
		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a class="nav-link link-title" href="#services">Services</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-title" href="#about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-title" href="#gallery">Gallery</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-title" href="#tastes">Tastes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link link-title" href="#contact">Contacts</a>
			</li>
		</ul>
	</nav>
</header>