.contact {
    background-color: $primary;

&-text {
        color: $secondary;
        font-family: $font-family-little;
        font-size: 16px;
        letter-spacing: -1px;
    }
&-contacts {
        text-align: left;
    }
}
.social {
    &-block {
        padding-left: 42px!important;
    }
    &-icon {
        color: $secondary;
        font-size: 38px;
    }
    &-link {
        padding: 0 10px!important;
    }
}
.copywrite-text {
    color: $secondary;
    &:before {
    	content: '';
    	display: block;
    	height: 1px;
    	width: 100%;
    	background: $secondary;
        margin: 40px 0;
    }
}