<footer>
  <container class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-2 offset-md-2">
          <div class="contact-contacts">
            <p class="contact-text">Contact</p>
            <p class="contact-text">0 800 506 800</p>
            <p class="contact-text">sweeted@gmail.com</p>
          </div>
        </div>
        <div class="col-md-2 offset-md-1">
          <div class="contact-contacts">
              <p class="contact-text">Opening hours:</p>
              <p class="contact-text">Mon. - Fri.</p>
              <p class="contact-text">9.00am - 8.00pm</p>
            </div>
        </div>
        <div class="col-md-5">
          <div class="row">
            <div class="col-12">
              <!-- <nav class="navbar justify-content-center nav-block" role="navigation">
                <ul class="justify-content-left contact-social">
                  <li class="social-link"><a href="javascript:void(0)" class="social-title"><i class="fab fa-facebook-square"></i></a></li>
                  <li class="social-link"><a href="javascript:void(0)" class="social-title"><i class="fab fa-google-plus-square"></i></a></li>
                  <li class="social-link"><a href="javascript:void(0)" class="social-title"><i class="fab fa-twitter-square"></i></a></li>
                  <li class="social-link"><a href="javascript:void(0)" class="social-title"><i class="fab fa-pinterest-square"></i></a></li>
                </ul>
              </nav> -->
              <nav class="navbar justify-content-left nav-block" role="navigation">
                <ul class="nav justify-content-center social-block">
                  <li class="nav-item">
                    <a class="nav-link social-link" href="https://uk-ua.facebook.com/"><i class="fab fa-facebook-square social-icon"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link social-link" href="https://www.google.com.ua/"><i class="fab fa-google-plus-square social-icon"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link social-link" href="https://twitter.com/login"><i class="fab fa-twitter-square social-icon"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link social-link" href="https://www.pinterest.com/"><i class="fab fa-pinterest-square social-icon"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p class="copywrite-text font-subtitle">&#169 Sweet dreams, 2014-2018. All rights reserved.</p>
        </div>
      </div>
    </div>
  </container>
</footer>