.logo {
	height: 100px;

	&-title {
		font-size: 64px;
	}
	&-img {
		padding-top: 2px;
	}

	&:after {
		content: '';
		display: block;
		height: 1px;
		width: 100%;
		background: $primary;
		margin: 0px auto;
	}

	&-second:after {
		content: '';
		display: block;
		height: 2px;
		width: 100%;
		background: $primary;
		margin: 2px auto;
	}
}
.nav-block {
	padding-left: 14px;
}
