footer {
    background: $primary;
}
.contact {
&-text {
        color: $secondary;
        font-family: $font-family-little;
        font-size: 16px;
        letter-spacing: -1px;
}
&-contacts p {
    padding: 0;
    margin:0;
}
&-contacts {
        text-align: left;
    }
}
.social {
    &-block {
        padding-left: 46px!important;
    }
    &-icon {
        color: $secondary;
        font-size: 38px;
    }
    &-link {
        padding: 0 10px!important;
    }
    &-navbar {
        padding: 4px 16px;
    }
}
.copywrite-text {
    color: $secondary;
    font-size: 26px;
    &:before {
    	content: '';
    	display: block;
    	height: 1px;
    	width: 100%;
    	background: $secondary;
        margin: 30px 0;
    }
}
.contacts-padding {
    padding-top: 45px;
}