.products {
	text-align: center;
    padding-top: 91px;
    padding-bottom: 58px;

	&-title {
		padding-top: 0px;
		padding-bottom: 19px;
		// font-family: $font-family-base;
		// font-size: 60px;
		// color: $primary-text;
		// font-weight: $font-weight-title;
	}
}


// .products {
// 	text-align: center;
//     padding-top: 91px;
//     padding-bottom: 0px;

//     &-title {
//     	font-size: 70px;
//     	font-weight: 900;
//     	font-family: "Norican", cursive;
//     	color: #685042;
//        line-height: 1;
//     }
// }



